.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    background: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.3) 50%);
	color: white;
	font-size: 14px;
    transition: background-color 0.4s ease-out;

   &.scrolled {
        background-color: var(--main-color);

    }
	.container {
		height: 70px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 50px;
		.left {
			display: flex;
			align-items: center;
			img {
				height: 25px;
				margin-right: 40px;
			}
			span {
				margin-right: 20px;
				cursor: pointer;
			}
		}
		.right {
			display: flex;
			align-items: center;
			img {
				width: 30px;
				height: 30px;
				border-radius: 5px;
				object-fit: cover; 
				cursor: pointer;
			}
			.profile {
				.options {
					display: none;
                    background-color: var(--main-color);
                    border-radius: 5px;
				}
				&:hover {
					.options {
                        position: absolute;
						display: flex;
                        flex-direction: column;
					}
				}
                span {
                    padding: 10px;
                    cursor: pointer;
                }
			}
		}
		.icon {
			font-size: 20px;
			margin: 0 15px;
			cursor: pointer;
		}
	}
}
